{% load static%}
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<style>
    .h1, h1 {
    font-size: 1.5rem;
    bg-color:black;
}
  body{
    background-color:cyan;
  }

</style>
    <title>Krishna</title>
  </head>
  <body >
        <div class="container text-center">
        <img src="{% static 'images/logo.png' %}"  width="500" alt="Responsive image">
        </div>
            <div class="row">
                <div class="col-sm-12" align="center">
                    <h1> Welcome</h1>
                   {% csrf_token %}<br>
                    <a href="student_register" class="btn btn-warning">student Admission</a><br><hr>
                    <a href="staff_register" class="btn btn-warning">staff Admission</a><br><hr>
                    <a href="student_attendance" class="btn btn-warning">Attendance</a><br><hr>
                    <a href="student_exam" class="btn btn-warning">Exam</a><br><hr>
                    <a href="feedback_form" class="btn btn-warning">Feedback</a><br><hr>
                </div>
            </div>

         <a href="{% url 'logout' %}" class="btn btn-secondary">Logout</a>
  </body>
</html>