{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>

<div class="container text-center">
        <img src="{% static 'images/logo.png' %}"  width="500" alt="Responsive image">
      </div>
    <h1 class=".col-sm-3 my-2 text-center">Admission Form</h1>
    <hr>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12">
               {% for st in studentdata %}
            <tr>
                <h1>
                <td>{{st.student_fname}}</td>
                <td>{{st.student_lname}}</td>
                </h1>
            </tr><br><hr>
                  <a style="height:40px;width:150px;" href="{% url 'update_data' st.student_id  %}" class="btn btn-warning">Show Full Detail </a>
                {% endfor %}
        </div>
    </div>
</div>


</body>
</html>